<h1>List of users</h1>
<form action="/users_create">
  <label for="username_id">Username</label>
  <input id="username_id" name="query_username" type="text" placeholder="Enter a username..." >
  <button>Add user</button>
</form>
<hr>
<table>
  <thead>
    <th>ID</th>
    <th>Username</th>
    <th></th>
    <tbody>
      <%@users.each do |user|%>
        <tr>
          <td><%=user.id%></td>
          <td><%=user.username%></td>
          <td><a href="/users/<%=user.username%>">Show details</a></td>
        </tr>
      <%end%>
    </tbody>
  </thead>
</table>
