<!DOCTYPE html>
<html>
  <head>
    <title>Photogram GUI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      table, td, th {
        border: 1px solid black;
      }
      .comment_table {
        border: none;
      }
      .comment_table td, th {
        border: none;
      }
    </style>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/users">Users</a></li>
        <li><a href="/photos">Photos</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
<h3>Add a new comment</h3>
<form action="" method="post">
  <label for="photo_id">Photo ID</label>
  <input id="photo_id" name="query_photo_id" value="<%=@photo.id%>" type="text">
  <label for="author_id">Author ID</label>
  <input id="author_id" name="query_user_id" placeholder="Enter your author ID" type="text">
  <label for="comment_id">Comment</label>
  <textarea placeholder="Enter a comment..." name="query_comment_body" id="comment_id"></textarea>
  <button>Add comment</button>
</form>
